/******* Footer **********/
.footer-group {
    display: flex;
    justify-content: space-between;
}

.footer {
    width: 100%;
    background-color: var(--main-bg-color);
    padding: 1.25em;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.footer-title {
    margin: 0;
}

.footer-subtitle {
    display: flex;
    flex-direction: column;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    margin-top: 0.9375em;
}