/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 64em) {
    .hebergements-and-populaires {
        flex-direction: column;
        gap: 3.125em;
    }

    #hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
    }

    .populaires-cards {
        padding: 0;
        flex-direction: row;
    }

    .populaires-cards a {
        width: 100%;       
    }

    .populaires-cards img {
        max-width: 91.5px;
    }

    .populaires-cards .card-title {
        font-size: 0.875em;
    }

    .populaires-cards .card-subtitle {
        font-size: 0.8125em;
    }

    .filtres {
        flex-direction: column;
    }

    .filters-groups {
        display: flex;
        flex-direction: column;
    }

    .activités-cards img {
        height: 12.5em;
    }

    .activités-cards .card-title {
        display: flex;
        align-items: center;
        margin: 0;
        padding: 20px 19px;
        height: 1.875em;
    }
}