/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 64em) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 3.125em;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 0;
    }

    .populaires-cards a {
        width: 100%;
    }

    .populaires-cards .card-title {
        font-size: 0.875em;
    }

    .populaires-cards .card-subtitle {
        font-size: 0.8125em;
    }

    .filtres {
        flex-direction: column;
    }

    .activités-cards img {
        height: 12.5em;
    }
}